#
# Protege
#
catalog-v001.xml

#
# OSX
#
.DS_Store

#
# Eclipse
#

.project

bdrc-rdf11.owl
/bdrc-2.owl
/bdrc-3.owl
/bdrc-20915e1-20170530.owl
/bdrc-3.ttl
/bdrc 3.owl
/bdrc-wip.owl
/bdrc wip.owl
/bdrc-wip-in-ttl.owl
/bdo-wip.owl
